@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.login{
  background-color: rgba(75, 175, 221, 0.281);
  border: solid rgba(121, 118, 118, 0.541) 0.1px;
  border-radius: 20%;
}
